@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');


:root{
    --color-fondo: rgb(249, 238, 234);
    --color-lineas: rgb(0, 0, 0, 0.66);
    --color-linea-invisible:rgb(0, 0, 0, 0);
    --color-primero:rgb(182, 226, 211);
    --color-segundo: rgb(196, 220, 253);
    --color-tercero: rgb(235, 203, 222);
    --color-cuarto:rgb(246, 241, 147);
    --color-quinto:rgb(163, 255, 172);
    --color-sexto:rgb(255, 119, 183);
    --color-septimo: rgb(89, 86, 116);
    --color-letra:rgb(0, 0, 0, 0.88);
    --letra-titulo: "Viga", sans-serif;
    --letra-subtitulo: "Montserrat", sans-serif;
    --letra-texto: "Montserrat", sans-serif;
    --letra-divertida: "Atma", system-ui;
}
/*Eliminacion de margenes y padding predefinidos*/
*{
    margin: 0;
    padding:0;
}
/*body*/
body{
    background-color: var(--color-fondo);
    color: var(--color-letra);
}

/*---Comienza Main----*/

/*---Seccion Portada de inicio---*/
.container-portada{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px 80px 0px;
}

.figura-geometrica{
    background-image: url("../assets/img/cuadrado-y-circulo.png");
    background-repeat: no-repeat;
    width: 529px;
    height: 422px;
    padding: 86px 0 100px 60px ;
    
}

.texto-portada{
    gap: 50px;
}

.container-portada h1{
    font-family: var(--letra-titulo);
    font-size: 4rem;
}

.container-portada p{
    font-family: var(--letra-divertida);
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    position: relative;
    right:20px;
}

.container-portada img{

    align-self: center;
    width: 287px;
    height: 345px;
}

/*FIN PORTADA INICIO*/

/*----Seciones continuas----*/
/*----espacio secciones general(eventos-tematica-catalogo-) ----*/

.container-espacio-secciones{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/*container seccion (eventos-tematica-catalogo-)*/
.container-seccion{
    display: flex;
    height: 659px;
    position: relative;
    align-items: center;
    align-content: center;
    
}
/*Titulos sobresalientes de las secciones afectando de manera general(eventos-tematica-catalogo)*/
.titulo-seccion h2{
    font-size: 3.20rem;
    font-family: var(--letra-subtitulo);
    font-weight: 400;
    font-style: normal;
}
.titulo-seccion{
    height: fit-content;
    z-index: 1;
    position: absolute;
    top: -80px;
    left: 10px;
    padding: 20px 20px 20px 20px; 
    border-radius: 30px 30px 0 0;
    
    
}
/* tipografía Subtitulos(h3) de cada seccion*/
.subtitulo{
    font-family: var(--letra-subtitulo);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
}
/*tipografía parrafo de cada seccion*/
.parrafo{
    font-family: var(--letra-texto);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}


/*borde superior secciones*/
.linea-top {
    background-image: repeating-linear-gradient(60deg, var(--color-lineas), var(--color-lineas) 60px, transparent 60px, transparent 60.05px, var(--color-lineas) 60px), repeating-linear-gradient(90deg, var(--color-lineas), var(--color-lineas) 40px, transparent 0, transparent 30px,var(--color-linea-invisible) 80px), repeating-linear-gradient(180deg, #000000, #000000 28.5px, transparent 30px, transparent 48.05px, #000000 49px), repeating-linear-gradient(270deg, #000000, #000000 28.5px, transparent 30px, transparent 48.05px, #000000e1 49px);
    background-size: 0 0, 100% 6px, 0 0 , 0 0;
    background-position: 0 0, 0 5px, 0 0, 0 0;
    background-repeat: no-repeat;   
    }


.linea-titulo {
    background-image: url("../assets/img/lineas-en-titulos.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*--FIN de los estilos de las secciones en general(evento-tematica-catalogo)--*/


/*----primera seccion - eventos----*/

#seccion-1-evento{
   background-color: var(--color-primero);
   justify-content: space-around;
   gap: 40px;

}
#titulo-evento{
    background-color: var(--color-primero);

}
.texto-seccion{
    margin-left: 40px;
    margin-bottom: 55px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

#subtitulo-seccion-evento h3, span{

    width: fit-content;
    background-color: var(--color-sexto);
}
#subtitulo-seccion-evento  span{
    color: #FFFFFF;
}

#seccion-1-evento div p{
    margin-top: 40px;
    width: 600px;
}


.container-img{
   width: 100%;
   max-width: 500px;
   
}

.imagen-seccion{
   width: 100%;
   height: auto;
   
}




/*fin seccion - evento*/

/*-----segunda seccion - temática-----*/

#seccion-2-tematica{
    background-color: var(--color-segundo);
}

#titulo-tematica{
    background-color: var(--color-segundo);
    left: 200px;
}

/*fin seccion - temática*/

/*-----tercera seccion - catálogo------*/

#seccion-3-catalogo{
    background-color: var(--color-tercero);
}

#titulo-catalogo{
    background-color: var(--color-tercero);
    left: 450px;

}

/*fin seccion - catálogo*/