@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');


:root{
    --color-fondo: rgb(249, 238, 234);
    --color-lineas: rgb(0, 0, 0, 0.66);
    --color-linea-invisible:rgb(0, 0, 0, 0);
    --color-primero:rgb(182, 226, 211);
    --color-segundo: rgb(196, 220, 253);
    --color-tercero: rgb(235, 203, 222);
    --color-cuarto:rgb(246, 241, 147);
    --color-quinto:rgb(163, 255, 172);
    --color-sexto:rgb(255, 119, 183);
    --color-septimo: rgb(89, 86, 116);
    --letra-titulo: "Viga", sans-serif;
    --letra-subtitulo: "Montserrat", sans-serif;
    --letra-texto: "Montserrat", sans-serif;
    --letra-divertida: "Atma", system-ui;
}
/*Eliminacion de margenes y padding predefinidos*/
*{
    margin: 0;
    padding:0;
}
/*body*/
body{
    background-color: var(--color-fondo);
    
}

/*Comienza Main*/
/*---Seccion Portada de inicio---*/
.container-portada{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px 80px 0px;
}

.figura-geometrica{
    background-image: url("../assets/img/cuadrado-y-circulo.png");
    background-repeat: no-repeat;
    width: 529px;
    height: 422px;
    padding: 86px 0 100px 60px ;
    
}

.texto-portada{
    gap: 50px;
}

.container-portada h1{
    font-family: var(--letra-titulo);
    font-size: 4rem;
}

.container-portada p{
    font-family: var(--letra-divertida);
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    position: relative;
    right:20px;
}

.container-portada img{

    align-self: center;
    width: 287px;
    height: 345px;
}

