<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/TPI-Desarrollo-Web/css/contacto.css">
</head>
<body>
    <header>
        <main>
            <section class="container-formulario">

                <section class="formulario-h2">
                    <div class="formulario-titulo linea-titulo" id="titulo-evento">
                        <h2>Contacto</h2>
                    </div>
                </section>

                <!-- formulario -->

                <form class="formulario" action="">

                    <!-- titulos -->
                    <section class="formulario-subtitulos">
                        <h2 class="formulario-subtitulos">¿Quieres contarnos tu idea o hacernos una consulta?
                        <br>Completa el formulario y te respondemos lo antes posible &#128516;</h2>

                    </section>    

                    <!-- nombre -->

                    <label for="nombre">NOMBRE/S</label>
                    <input type="text" id="nombre" name="nombre">
                    <br><br>

                    <!-- email -->

                    <label for="email">EMAIL</label>
                    <input type="text" id="email" name="email">
                    <br><br>

                    <!-- consulta -->

                    <label for="consulta">CONSULTA</label>
                    <textarea name="consulta" id="consulta"></textarea>

                    <!-- terminos -->
                
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="acepto">
                        <label for="acepto">He leído y acepto las políticas de privacidad</label>
                    </div>
                    
                      
                      
                      
                    <br><br>
                    
                    <!-- enviar -->

                    <input  class="enviar" type="submit" value="Enviar">


                </form>

            
            </section>
            <section class="horarios">
                <h2>Horario de atencion</h2>
                <h2>Lunes a sabados de 08 a 17 hs</h2>
            </section>

            <section class="container-contacto">
                <div class="wp"><img src="/TPI-Desarrollo-Web/assets/img/img-contacto/image 7.png" alt="">
                    <p>0135555555</p>

                </div>
                <div class="email"><img src="/TPI-Desarrollo-Web/assets/img/img-contacto/image 8.png" alt="">
                    <p>eventosinfo@iswa.ar</p>
                    
                </div>
                <div class="tel"><img src="/TPI-Desarrollo-Web/assets/img/img-contacto/image 9.png" alt="">
                    <p>549333333</p>
                    
                </div>
            </section>
          

            
            <!-- <div> <img src="../assets/img/img-contacto/nubecita.png" alt="" class="nube1"></div> -->

    
    
    



        </main>
        <section></section>
       
       
    </header>
</body>
</html>