<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
    </header>
<!-- se agrega estilo de portada de quienes somos -->
    <main>
        <section class="container-portada">
            <div class="texto-portada figura-geometrica">
                <h1>QUIENES <br> 
                    <span>SOMOS</span><br>
                </h1>
            </div>
            <img class="cajapregunta" src="../assets/img/caja de pregunta.png" alt="Caja- de- preguntas">
        </section>
    </main>
    
    <!------------------ secciones de vision, misión y valores ------------------>
        <section>
            <div> <img src="../assets/img/nubecita.png" alt="" class="nube4"></div>
            
            <div class="box1">
                <p>
                <strong>IDWA</strong>  nació como una iniciativa joven y creativa en respuesta a una necesidad: hacer que la organización de fiestas infantiles sea más simple, rápida y divertida. 
                Lo que comenzó como una idea entre amigos se transformó en una plataforma online que conecta a familias con salones de eventos, servicios y proveedores, 
                todo desde un solo lugar.</p>

            </div>
            
            <div> <img src="../assets/img/nubecita.png" alt="" class="nube"></div>

            <div class="box">
            <div> <strong>Misión</strong></div>
                <p>
                Facilitar la planificación de fiestas infantiles inolvidables, ofreciendo una plataforma intuitiva y completa donde las familias puedan encontrar salones, sumar servicios y organizar su evento sin estrés.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube1"></div>

            <div class="box">
                <div> <strong>Visión</strong></div>
                <p>
                Convertirnos en la plataforma líder en organización de fiestas infantiles en el mundo hispanohablante, promoviendo celebraciones únicas, accesibles y llenas de magia.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube2"></div>

            <div class="box">
                <div> <strong>valores</strong></div>
                <p>
                Nos guiamos por la creatividad, la empatía, la alegría, el compromiso con la infancia y el uso de la tecnología para mejorar cada experiencia.
                </p>
                
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube3"></div>

            <div class="box1">
                <p>
                Nuestro equipo está conformado por profesionales altamente capacitados y en constante formación, que trabajan con pasión y compromiso.
            </p>
            </div>
        </section>

<!------------------ cards del equipo ------------------>
    <div class="container">
        <div class="card">
            <img img src="../assets/img/santiago.png" alt="persona">
            <div class="contenido">
                <h3>Santiago</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/noah.png" alt="persona">
            <div class="contenido">
                <h3>Noah</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/victoria.png" alt="persona">
            <div class="contenido">
                <h3>Victoria</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/estrella.png" alt="persona">
            <div class="contenido">
                <h3>Estrella</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img src="../assets/img/gabriela.png" alt="persona">
            <div class="contenido">
                <h3>Gabriela</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>
        
    </div>
    
    <div class="box"><p><strong>IDWA<br>
            “Donde cada fiesta comienza con una idea y se convierte en un recuerdo inolvidable.”</strong></p>
    </div>


</body>
</html>