<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
    </header>
<!-- se agrega estilo de portada de index -->
    <main>
        <section class="container-portada">
            <div class="texto-portada figura-geometrica">
                <h1>¿ QUIENES <br> 
                    SOMOS ?<br>
                    
                </h1>
                
    
            </div>
           
        <!-- <section>
            <div>
                <h1>QUIENES <br> 
                       SOMOS?<br>
                    
                </h1>
            </div> -->
        <img src="../assets/img/caja de pregunta.png" alt="Caja- de- preguntas">
        </section>

        <section>
            
            <div> <img src="../assets/img/nubecita.png" alt="" class="nube4"></div>
            
            <div class="box1">
                <p>
                <strong>IDWA</strong>  nació como una iniciativa joven y creativa en respuesta a una necesidad: hacer que la organización de fiestas infantiles sea más simple, rápida y divertida. 
                Lo que comenzó como una idea entre amigos se transformó en una plataforma online que conecta a familias con salones de eventos, servicios y proveedores, 
                todo desde un solo lugar.</p>

            </div>
            
            <div> <img src="../assets/img/nubecita.png" alt="" class="nube"></div>

            <div class="box">
            <div> <strong>Misión</strong></div>
                <p>
                Facilitar la planificación de fiestas infantiles inolvidables, ofreciendo una plataforma intuitiva y completa donde las familias puedan encontrar salones, sumar servicios y organizar su evento sin estrés.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube1"></div>

            <div class="box">
                <div> <strong>Visión</strong></div>
                <p>
                Convertirnos en la plataforma líder en organización de fiestas infantiles en el mundo hispanohablante, promoviendo celebraciones únicas, accesibles y llenas de magia.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube2"></div>

            <div class="box">
                <div> <strong>valores</strong></div>
                <p>
                Nos guiamos por la creatividad, la empatía, la alegría, el compromiso con la infancia y el uso de la tecnología para mejorar cada experiencia.
                </p>
                
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube3"></div>

            <div class="box1">
                <p>
                Nuestro equipo está conformado por profesionales altamente capacitados y en constante formación, que trabajan con pasión y compromiso.
            </p>
            </div>
        </section>
    </main>
    <div class="container">
        <div class="card">
            <img img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 1</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 2</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/imgpersona2.png" alt="persona">
            <div class="contenido">
                <h3>Persona 3</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/imgpersona3.png" alt="persona">
            <div class="contenido">
                <h3>Persona 4</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img src="../assets/img/imgpersona4.png" alt="persona">
            <div class="contenido">
                <h3>Persona 5</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>
        
    </div>
    <div class="box"><p><strong>IDWA<br>
            “Donde cada fiesta comienza con una idea y se convierte en un recuerdo inolvidable.”</strong></p>
    </div>


    <footer>
        <div class="contacto">
                <p> Contáctanos</p>
                <p> 549333333333333<br>
                0351 5555555555<br>
                infowolfsoul@gmail.com</p>
        </div>
        
        <div class="newsletter">
                <p><strong>NEWSLETTER</strong><br>Recibí todas las ofertas</p>
                <input type="email" placeholder="Email...">
        </div>
        <div>
        <p>Seguinos en nuestras redes:<br>
            Instagram |  Facebook |  Twitter
        </p>
        </div>
    </footer>
</body>
</html>