<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/quienes-somos.css">
</head>
<body>

    <header>
    </header>

    <main>
        <section>
            <div>
                <h1>QUIENES <br> 
                    SOMOS?<br>
                    
                </h1>
            </div>
        <img src="../assets/img/cuadradorectangulo.png" alt="cuadrado-triangulo">
        <section>
            <div class="box">
                <p>
                IDWA nació como una iniciativa joven y creativa en respuesta a una necesidad: hacer que la organización de fiestas infantiles sea más simple, rápida y divertida. 
                Lo que comenzó como una idea entre amigos se transformó en una plataforma online que conecta a familias con salones de eventos, servicios y proveedores, 
                todo desde un solo lugar.
                </p>

            </div>
            <div><img src="../assets/img/nubecita.png" alt=""></div>

            <div class="box">
            <div class="icon"> Misión</div>
                <p>
                Facilitar la planificación de fiestas infantiles inolvidables, ofreciendo una plataforma intuitiva y completa donde las familias puedan encontrar salones, sumar servicios y organizar su evento sin estrés.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt=""></div>

            <div class="box">
                <div class="icon"> Visión</div>
                <p>
                Convertirnos en la plataforma líder en organización de fiestas infantiles en el mundo hispanohablante, promoviendo celebraciones únicas, accesibles y llenas de magia.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt=""></div>

            <div class="box">
                <div class="icon"> Valores</div>
                <p>
                Nos guiamos por la creatividad, la empatía, la alegría, el compromiso con la infancia y el uso de la tecnología para mejorar cada experiencia.
                </p>
                
            </div>

            <div><img src="../assets/img/nubecita.png" alt=""></div>

            <div class="box">
                <p>
                Nuestro equipo está conformado por profesionales altamente capacitados y en constante formación, que trabajan con pasión y compromiso.
                </p>
            </div>
            </section>
    </main>
    <div class="container">
        <div class="card">
            <img img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 1</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 2</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 3</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 4</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>

        <div class="card">
            <img src="../assets/img/imgpersona.png" alt="persona">
            <div class="contenido">
                <h3>Persona 5</h3>
                <p>Descripcion de persona o lorem</p>
            </div>
        </div>
    </div>



    <footer>
    </footer>
</body>
</html>